body {
    background-color: #606060;
    font-family: "roboto slab";
    font-size: 20px;
    color: white;
}


h2 {
    font-family: 'REM', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.titulo-destacados,
.titulo-pisos,
h2,
.datos,
h3,
.card-title {
    text-shadow: 6px 6px 6px cadetblue
}

.nav-list {
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-row: 1;
    gap: 30px;
    list-style-type: none;
    margin-top: 70px;
    border-bottom-style: solid;
    border-top-style: solid;
    padding: 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}
body {
    background-color: #606060;
    font-family: "roboto slab";
}

h3 {
    margin-left: 100px;
    margin-bottom: 10px;
    margin-right: 100px;
}

